<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script> -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colori_appuntamenti.css') }}">
    <title>Calendario crocevia</title>
  </head>
<body>
  <div id="week">
    {{ week_data|safe }}
  </div>
  
</body>
</html>
